<div class="flex flex-col items-center justify-center md:py-28">
	<h1>404</h1>
	<p>
		Check the URL, try using our <button
			id="404-search-link"
			class="font-inherit cursor-pointer border-none bg-transparent p-0 text-blue-500 underline hover:no-underline dark:text-orange-500"
			>search</button
		> or try our LLM-friendly
		<a href="/llms.txt"> llms.txt directory</a>.
	</p>
</div>

<script>
	import { openGlobalSearch } from "~/util/search";

	const { pathname } = window.location;

	const button = document.getElementById("404-search-link");
	const pretty = decodeURIComponent(
		pathname.replaceAll("/", " ").replaceAll("-", " ").trim(),
	);

	if (button) {
		button.addEventListener("click", () => {
			openGlobalSearch(pretty);
		});
	}

	document.addEventListener(
		"keydown",
		(keyboardEvent) => {
			if (
				(keyboardEvent.metaKey || keyboardEvent.ctrlKey) &&
				keyboardEvent.key === "k"
			) {
				keyboardEvent.preventDefault();
				keyboardEvent.stopPropagation();

				openGlobalSearch(pretty);
			}
		},
		{
			capture: true,
		},
	);
</script>
