---
import { z } from "astro/zod";

type Props = z.infer<typeof props>;

const props = z
	.object({
		text: z.string(),
	})
	.strict();

const { text } = props.parse(Astro.props);
---

<span class="align-middle text-xs">{text}</span>
