---
import { z } from "astro/zod";
import { Icon } from "@astrojs/starlight/components";
import type { StarlightIcon } from "@astrojs/starlight/types";

const props = z
	.object({
		text: z.string().default("Subscribe to RSS"),
		icon: z.custom<StarlightIcon>().default("rss"),
	})
	.and(
		z
			.object({
				changelog: z
					.string()
					.transform((val) => val.toLowerCase().replaceAll(" ", "-")),
			})
			.or(
				z.object({
					href: z.string(),
				}),
			),
	);

const input = props.parse(Astro.props);
---

<a
	href={"href" in input ? input.href : `/changelog/rss/${input.changelog}.xml`}
	class="inline-flex items-center justify-center gap-1 rounded-sm font-semibold no-underline"
	target="_blank"
>
	{input.text}
	<Icon name={input.icon} size="1.25rem" />
</a>
