<svg
	xmlns="http://www.w3.org/2000/svg"
	width="701"
	height="863"
	class="dark:invert"
	viewBox="-0.5 -0.5 701 863"
>
	<path
		fill="transparent"
		stroke="#000"
		stroke-width="4"
		d="M140 200h350v660H140z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M160 240h310v330H160z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M240 398v17h-45v17"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m240 392 4 8-4-2-4 2ZM195 438l-4-8 4 2 4-2Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M268 398v17h-13v17"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m268 392 4 8-4-2-4 2ZM255 438l-4-8 4 2 4-2Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M390 398v17h45v17"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m390 392 4 8-4-2-4 2ZM435 438l-4-8 4 2 4-2Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M363 398v17h12v17"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m363 392 4 8-4-2-4 2ZM375 438l-4-8 4 2 4-2Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M410 330h12"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m428 330-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#6c8ebf"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M360 270V168"
		pointer-events="none"></path>
	<path
		fill="#6c8ebf"
		stroke="#6c8ebf"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m360 162 4 8-4-2-4 2Z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M220 270h190v120H220z"
		pointer-events="none"></path>
	<switch transform="translate(233 322)">
		<foreignObject
			width="164"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:165px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Scheduling and routing
				</div>
			</div>
		</foreignObject>
		<text
			x="82"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">Scheduling and routing</text
		>
	</switch>
	<path
		fill="none"
		stroke="#b85450"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M470 330h32"
		pointer-events="none"></path>
	<path
		fill="#b85450"
		stroke="#b85450"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m508 330-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M430 390V270h40v120z"
		pointer-events="none"></path>
	<switch transform="rotate(-90 407 -35)">
		<foreignObject
			width="83"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:84px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					HTTP client
				</div>
			</div>
		</foreignObject>
		<text
			x="42"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">HTTP client</text
		>
	</switch>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M200 330h12"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m218 330-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M160 390V270h40v120z"
		pointer-events="none"></path>
	<switch transform="rotate(-90 273 102)">
		<foreignObject
			width="90"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:91px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					HTTP server
				</div>
			</div>
		</foreignObject>
		<text
			x="45"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">HTTP server</text
		>
	</switch>
	<path
		fill="none"
		stroke="#b85450"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M120 330h32"
		pointer-events="none"></path>
	<path
		fill="#b85450"
		stroke="#b85450"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m158 330-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M60 270V40h212"
		pointer-events="none"></path>
	<path
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m278 40-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M0 270h120v120H0z"
		pointer-events="none"></path>
	<switch transform="translate(18 312)">
		<foreignObject
			width="85"
			height="36"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:86px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Inbound
					<br style="font-size:16px" />
					HTTP proxy
					<br style="font-size:16px" />
				</div>
			</div>
		</foreignObject>
		<text
			x="43"
			y="26"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="none"
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M570 270V40H448"
		pointer-events="none"></path>
	<path
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m442 40 8-4-2 4 2 4Z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M510 270h120v120H510z"
		pointer-events="none"></path>
	<switch transform="translate(528 312)">
		<foreignObject
			width="85"
			height="36"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:86px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Outbound
					<br style="font-size:16px" />
					HTTP proxy
					<br style="font-size:16px" />
				</div>
			</div>
		</foreignObject>
		<text
			x="43"
			y="26"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="none"
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M280 140h-42"
		pointer-events="none"></path>
	<path
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m232 140 8-4-2 4 2 4Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M360 120V88"
		pointer-events="none"></path>
	<path
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m360 82 4 8-4-2-4 2Z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M280 120h160v40H280z"
		pointer-events="none"></path>
	<switch transform="translate(322 132)">
		<foreignObject
			width="76"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:77px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Supervisor
					<br style="font-size:16px" />
				</div>
			</div>
		</foreignObject>
		<text
			x="38"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<switch transform="translate(172 247)">
		<foreignObject
			width="161"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:162px;white-space:nowrap;overflow-wrap:normal"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Main Runtime Process
				</div>
			</div>
		</foreignObject>
		<text
			x="81"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">Main Runtime Process</text
		>
	</switch>
	<switch transform="translate(162 212)">
		<foreignObject
			width="108"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:109px;white-space:nowrap;overflow-wrap:normal"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Outer Sandbox
				</div>
			</div>
		</foreignObject>
		<text
			x="54"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">Outer Sandbox</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		stroke-miterlimit="10"
		d="M170 116c0-21 60-21 60 0v48c0 21-60 21-60 0Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#000"
		stroke-miterlimit="10"
		d="M170 116c0 16 60 16 60 0"
		pointer-events="none"></path>
	<switch transform="translate(185 143)">
		<foreignObject
			width="31"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:32px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Disk
				</div>
			</div>
		</foreignObject>
		<text
			x="16"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">Disk</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		stroke-miterlimit="10"
		d="M320 20c-32 0-40 20-14 24-26 9 3 28 24 20 14 16 62 16 78 0 32 0 32-16 12-24 20-16-12-32-40-24-20-12-52-12-60 4Z"
		pointer-events="none"></path>
	<switch transform="translate(313 32)">
		<foreignObject
			width="95"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:96px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Control plane
					<br style="font-size:16px" />
				</div>
			</div>
		</foreignObject>
		<text
			x="48"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="none"
		stroke="#b85450"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M520 460h32"
		pointer-events="none"></path>
	<path
		fill="#b85450"
		stroke="#b85450"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m558 460-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<switch transform="translate(567 452)">
		<foreignObject
			width="42"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:43px;white-space:nowrap;overflow-wrap:normal"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:left;font-size:16px">
						<span style="font-size:16px"> HTTP </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="21"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="none"
		stroke="#6c8ebf"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M520 490h32"
		pointer-events="none"></path>
	<path
		fill="#6c8ebf"
		stroke="#6c8ebf"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m558 490-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<switch transform="translate(567 482)">
		<foreignObject
			width="122"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:123px;white-space:nowrap;overflow-wrap:normal"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:left;font-size:16px">
						<span style="font-size:16px"> Cap&apos;n Proto RPC </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="61"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M520 520h32"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m558 520-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<switch transform="translate(567 512)">
		<foreignObject
			width="111"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:112px;white-space:nowrap;overflow-wrap:normal"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:left;font-size:16px">
						<span style="font-size:16px"> In-process calls </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="56"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="none"
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M520 550h32"
		pointer-events="none"></path>
	<path
		stroke="#000"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m558 550-8 4 2-4-2-4Z"
		pointer-events="none"></path>
	<switch transform="translate(567 542)">
		<foreignObject
			width="40"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:41px;white-space:nowrap;overflow-wrap:normal"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:left;font-size:16px">
						<span style="font-size:16px"> Other </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="20"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		d="M170 560V440h50v120z"
		pointer-events="none"></path>
	<switch transform="rotate(-90 361 174)">
		<foreignObject
			width="71"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:72px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:center;font-size:16px">
						<span style="font-size:16px"> V8 Isolate </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="36"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		d="M230 560V440h50v120z"
		pointer-events="none"></path>
	<switch transform="rotate(-90 391 144)">
		<foreignObject
			width="71"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:72px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:center;font-size:16px">
						<span style="font-size:16px"> V8 Isolate </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="36"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		d="M350 560V440h50v120z"
		pointer-events="none"></path>
	<switch transform="rotate(-90 451 84)">
		<foreignObject
			width="71"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:72px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:center;font-size:16px">
						<span style="font-size:16px"> V8 Isolate </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="36"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		d="M410 560V440h50v120z"
		pointer-events="none"></path>
	<switch transform="rotate(-90 481 54)">
		<foreignObject
			width="71"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:72px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:center;font-size:16px">
						<span style="font-size:16px"> V8 Isolate </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="36"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		d="M340 580h130v270H340z"
		pointer-events="none"></path>
	<switch transform="translate(374 587)">
		<foreignObject
			width="63"
			height="36"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:64px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Process
					<br />
					Sandbox
					<br style="font-size:16px" />
				</div>
			</div>
		</foreignObject>
		<text
			x="32"
			y="26"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		d="M380 835V715h50v120z"
		pointer-events="none"></path>
	<switch transform="rotate(-90 604 207)">
		<foreignObject
			width="71"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:72px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:center;font-size:16px">
						<span style="font-size:16px"> V8 Isolate </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="36"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M405 690v17"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m405 713-4-8 4 2 4-2Z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M350 630h110v60H350z"
		pointer-events="none"></path>
	<switch transform="translate(352 642)">
		<foreignObject
			width="106"
			height="36"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:106px;white-space:normal;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Scheduling and routing
				</div>
			</div>
		</foreignObject>
		<text
			x="53"
			y="26"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">Scheduling and routing</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		d="M160 580h130v270H160z"
		pointer-events="none"></path>
	<switch transform="translate(194 587)">
		<foreignObject
			width="63"
			height="36"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:64px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Process
					<br />
					Sandbox
					<br style="font-size:16px" />
				</div>
			</div>
		</foreignObject>
		<text
			x="32"
			y="26"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="transparent"
		stroke="#000"
		d="M200 835V715h50v120z"
		pointer-events="none"></path>
	<switch transform="rotate(-90 514 297)">
		<foreignObject
			width="71"
			height="17"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:72px;white-space:nowrap;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					<div style="text-align:center;font-size:16px">
						<span style="font-size:16px"> V8 Isolate </span>
					</div>
				</div>
			</div>
		</foreignObject>
		<text
			x="36"
			y="17"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">[Not supported by viewer]</text
		>
	</switch>
	<path
		fill="none"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M225 690v17"
		pointer-events="none"></path>
	<path
		fill="#82b366"
		stroke="#82b366"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m225 713-4-8 4 2 4-2Z"
		pointer-events="none"></path>
	<path
		fill="transparent"
		stroke="#000"
		d="M170 630h110v60H170z"
		pointer-events="none"></path>
	<switch transform="translate(172 642)">
		<foreignObject
			width="106"
			height="36"
			pointer-events="all"
			requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
			style="overflow:visible"
		>
			<div
				style="display:inline-block;font-size:16px;font-family:Helvetica;color:#000;line-height:1.2;vertical-align:top;width:106px;white-space:normal;overflow-wrap:normal;text-align:center"
			>
				<div
					style="display:inline-block;text-align:inherit;text-decoration:inherit"
				>
					Scheduling and routing
				</div>
			</div>
		</foreignObject>
		<text
			x="53"
			y="26"
			font-family="Helvetica"
			font-size="16"
			text-anchor="middle">Scheduling and routing</text
		>
	</switch>
	<path
		fill="none"
		stroke="#6c8ebf"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M310 390v270h-22"
		pointer-events="none"></path>
	<path
		fill="#6c8ebf"
		stroke="#6c8ebf"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m282 660 8-4-2 4 2 4Z"
		pointer-events="none"></path>
	<path
		fill="none"
		stroke="#6c8ebf"
		stroke-miterlimit="10"
		stroke-width="2"
		d="M320 390v270h22"
		pointer-events="none"></path>
	<path
		fill="#6c8ebf"
		stroke="#6c8ebf"
		stroke-miterlimit="10"
		stroke-width="2"
		d="m348 660-8 4 2-4-2-4Z"
		pointer-events="none"></path>
</svg>
